html {
	position: relative;
	height: 100%;

}


body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;

}


button {
	background-color: #14aaf5;
	border-color: $dark-blue;
	color: white;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: none;
	font-size: 13px;
	text-align: center;
}

button:hover {
	background-color: #008ce3;
  border-color: $darkest-blue;
}


.hidden {
	display: none;
}

/*
	Font Elements
*/

h1 {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    align-items: center;
    color: #151b26;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

h3 {
	line-height: 1.244;
	margin-bottom: 16px;
	color: #151b26;
	font-weight: 400;
	font-size: 2.8125rem;
	
}

p {
    font-size: 1.375rem;
	line-height: 1.636;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #646f79;

}

img {
	width: 100%;
	height: 100%;
}

small {
	font-size: 9px;
	color: $gray;
	font-family: $sans-serif;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
}

.thumbnail img {
	object-fit: cover;
}

/*
	Inputs
*/

.input-wrapper {
	display: flex;
	margin: 5px 0;
}

.input-wrapper input {
	flex: 1;
	font-family: $sans-serif;
	padding: 0 10px;
	border: 1px solid $gray;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-wrapper button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

input[type="search"] {
	padding: 5px;
}
