.back_arrow_svg {
    height: 15px;
    fill: #6f7782

}

.back_arrow_svg:hover {
      fill: #32c1ff
}

.project_create_form_container {
    display: flex;
     justify-content: center;
    flex-direction: column;
    width: 40%;
}


.project_top_container {
    height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
    position: absolute;
    width: 95%;
    z-index: 1;
}

.create_project_page {
    display:flex;
    flex-direction: column;
    height: 80vh;

}


.new_project_main_content {
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
   
}

.new_project_image {
       border-color: #cbd4db;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
    height: auto;
    width: 55%;
    align-self: flex-end;
}
.create_project_page {
    
    background: linear-gradient(to left, rgb(18, 25, 91)50%, white 50%);


}

.project_bottom_container {
    display: flex;
    flex-direction: row;
}

.new_project_right {
    width: 50%;
    height: 10vh;
    z-index: -1;
}

.left_50 {
    width: 50%;
    height: 10vh;
}

.total_page {
    height: 95vh;
    display: flex;
    flex-direction: colum;
}

.create_spacer {
    height: 20%;
}

.create_form_body {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 25%;
}

#create_project_name {
        border-color: #ed4758;
            height: 25px;
   padding: 4px;
   background-color: #f6f8f9;
    border-bottom: 1px solid;
    font-size: 16px;
}

#create_project_summary {
    padding-bottom: 150px;
}

.spacer_2 {
    height: 50px;
}

#create_project_title {
    font-weight: 300;
    font-size: 32px;
}

