.burger_logo {
    display: flex;
    width: 25px;
    height: 16px;
    fill: rgb(111, 119, 130);;
    align-self: center;

}

.rootdiv {
    height:100%;
}


#root {
   height: 100%;
} 


.burger_button {
        background-color: transparent;
    border-color: transparent;
    color: transparent;
    padding: 0;
    border-radius: 0;
    transition: background-color 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    
    text-align: center;
}

.burger_button:hover {
    background-color: transparent;
    border-color: transparent;
}
.logo_container {
    display: flex;
    height: 72px;
   
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;

}

.nav_logo_image {
    height: 16px;
    width: auto;
}
.nav_logo {
  
    display: flex;
    align-self: center;
    
}
.situo_full_page {
    display: flex;
    height: 100%;
}


.main_content {
    display: flex;
    flex-direction: column;
    will-change: transform;
    justify-content: center;
    // width: 1000px;
}

.right_page_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.topnav {
    display: flex;
}
.situo_sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    background-color: #151b26;

    
   
}

#situo_sidebar {
transition-delay:0s, 0s;
transition-duration:0.25s, 0.25s;
transition-property:margin-left, transform;
transition-timing-function:ease-out, ease-out;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
}

.sidebar_nav_item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 32px;
    padding: 0 24px;

   
}
.sidebar_nav_item:hover {
    background-color: rgba(255,255,255,.08);
}

.sidebar_nav_link {
    
    display: flex;
    align-self: center;
    color: #cbd4db;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .03 em;
    width: auto;

}

.sidebar_icon {
    display: flex;
    width: 20px;
    height: 20px;
    fill: rgb(111, 119, 130);;
    align-self: center;
   padding: 0 8px 0 0;
     
}

.project_list {
    display: flex;
    flex-direction: row;
   flex-flow: row wrap;
    justify-self: center;
    justify-content:    left;
    width: 800px;
    align-self: center;
    padding-top: 15px;

}

