.task_index_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project_index_item_left {
    width: 50%;
        display: flex;
    flex-direction: row;
}

.project_index_item_right {
    display: flex;
    flex-direction: row;
    width: 10%;
    
}

.project_index_divider {
    display: flex;

}

.task_due_date {
    display: flex;
    align-self: flex-end;
}

.main_list_container {
    background-color: #f6f8f9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main_list_inner {
    display: flex;
    align-self: flex-end;
    
    flex-direction: column;
    background-color: white;
    width: 97%;
    height: 98%;
    border-radius: 4px 4px 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(21,27,38,.08);
}

.index_border_1 {
    
    
    text-align: center
}
.project_input {
    height:28px;
    width: 40%;
    align-self: center;
}

.project_list_inner {
    padding: 20px;
    width: 100%;
    height: 97%;
    
}

.task_index_item_field {
    width: 100%;
}


#project_list_top {
    display: flex;
    flex-direction: row;
    height: 38px;  
}

.project_header {
    color:#6f7782;
    font-size: 12px;
    text-align: left;
    align-self: center;
}

.project_add_task {
    background: #fff;
    border-color: #9ca6af;
    color: #6f7782;
    border-radius: 4px;
    border: 1px solid #9ca6af;
    height: 20px;
    width: 100px;
    padding: 0px;
}

.spacer_3 {
    height: 10px;
}

.spacer_4 {
    height: 5px;
}

.row_1 {
    width: 60%;
}

.row_2 {
    width: 15%;
}

