#burger_logo_2 {
    display: none;   
    width: 25px;
    height: 16px;
    fill: rgb(111, 119, 130);
    align-self: center;
    padding-right: 23px;
}

#hidden_burger {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    padding: 0;
    border-radius: 0;
    transition: background-color 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    text-align: center;
    align-self: center;
}

.burger_button:hover {
    background-color: transparent;
    border-color: transparent;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 72px;
    padding: 0px 24px 0px 0px;
    height: 70px;
    
}

.left_top_nav {
    display:flex;
    flex-direction: row;
    align-items: center; 
}

.right_top_nav {
    display: flex;
    flex-direction: row;
}

.label {
    display: flex;
}


.menu_button {
        align-self: center;
        background: linear-gradient(to right, #796eff 0%, #ff5263 100%);
       position: relative;
        width: 100px;
        height: 32px;
        padding: 0;
}

#top_nav_dropdown {
    position: absolute;
    display: none;
    right: 0px;
    top: 35px;
    background-color: white;
    color: black;
    width: 400px;
    z-index: 1;
    border: 1px;
    font-size: 13px;
    background: #fff;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 0 1px rgba(111,119,130,.15), 0 5px 20px 0 rgba(21,27,38,.08);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
.dropdown_item {
     border-top: 1px solid #e8ecee;
     border-bottom: 2px solid white;
     height: 34px;
    white-space: nowrap;
    padding:4px;
    text-align: left;
    padding-left: 30px;
 
}

#profile_settings_link {
       border-image: linear-gradient(to right, #32c1ff 50%, #9287ff 100%) 1;
    border-image-source: linear-gradient(to right, rgb(50, 193, 255) 50%, rgb(146, 135, 255) 100%);
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-top: 4px solid;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: initial;
    border-bottom: 0px;
}

.dropdown_item:hover {
        background-color: #e8ecee;
    }

.project_title {
    display:flex;
    height: 45px;
    background-color: #AA62E3;
    width: 45px;
    border-radius: 12px;
}

.project_tile_logo {
    position: relative;
    height: 45px;
}

.comp_bottom {    
    fill: white;
}
.header_wrapper {
    display: flex;
}

.project_top_line {
    display: flex;
    flex-direction: row;
}

#modal_dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    width: 190px;
    background-color: white;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(111,119,130,.15), 0 5px 20px 0 rgba(21,27,38,.08);
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.modal_dropdown_trigger {
    z-index: 1;
    position: relative;
    background-color: transparent;
    border-color: transparent;
padding: 0px;
}

.modal_dropdown_trigger:hover {
     background-color: transparent;
    border-color: transparent;
}

.down_icon {
    height: 13px;
    width: 13px;
    fill: #6f7782;
}

.down_icon:hover {
    fill: #32c1ff
}

.project_modal_button {
    width: 100%;
    text-align: left;
    color: black;
    font-size: 13px;
    background-color: white;
    border-color:  white;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-bottom-color: white;
    border-top-color: white;
    padding: 4px 16px 4px 8px;
    
    

}

.project_modal_button:hover {
    background-color: #f6f8f9;
    border-color: white;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-radius: 0px;
    border-bottom-color: white;
    border-top-color: white;
    border-radius: 4px;

}

.project_header_container {
    border-bottom: 2px solid black;
}

.project_name_label {
    font-size: 20px;
    padding-left: 14px;
    padding-right: 10px;
}

.top_link {
    font-size: 12px;
    padding-left: 15px;
    font-weight: 400;
}

.top_link:hover {
    color: #AA62E3
}

.label_2 {
   padding-top: 23px;
   padding-bottom: 29px;
}