.bio_update {
    height: 50px;
    line-height: 14px;
}

.profile_photo_preview {
    width: 400px;
    height: auto;
    border: 1px grey solid;
    border-radius: 2px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 40xp;
}