.bio_update {
    height: 50px;
    line-height: 14px;
}

.profile_photo_preview {
    width: 400px;
    height: auto;
    border: 1px grey solid;
    border-radius: 2px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 40xp;
}

.date_time {
    font-size: 11px;
    padding-left: 15px;
    // background-color: ;
}

.task_comment {
    padding-left: 64px;
    padding-right: 24px;
    padding-bottom: 5px;
    background-color: #f6f8f9;
}

.task_comment_name {
    font-size: 13px;
    font-weight: 600;
}

.comment_input {
    padding: 4px 8px;
    min-height: 32px;
    line-height: 20px;
    font-size: 13px;
    border: grey 1px solid;
    border-radius: 4px;
}

.task_comment_body {
    font-size: 13px;
    // margin-bottom: 20px;
}

.task_edit_modal {
    display: flex; 
    flex-direction: column;
}

.calendar_item_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    padding-bottom: 10px;
}